.login {
  float: right;
  margin-top: 9px;
  a {
    color: #444;
    background: #ccc;
    padding: 3px 5px;
  }
}

.main_content {
  margin-top: 50px;
}

.container-inner {
  padding: 10px;
  &:after {
    clear: both;
  }
}

.row-fluid:before {
  clear: both;
}

.schools {
  margin-top: 20px;
  display: inline-block;
}

.school {
  border: 1px solid #eee;
  display: inline-block;
}


