.container.main_content
  %h2
    Recent Imports
  .container.bordered
    .navbar
      .navbar-inner
        %ul.nav
          %li
            = link_to 'Schools', 'index.html'
          %li
            = link_to 'Imports', 'imports.html'
    .container-inner
      %h4 Errors
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th School
            %th Uploaded
            %th Started
            %th Completed
            %th Term
            %th Import Type
            %th Method
            %th Status
            %th File name
            %th File Size
            %th Records
            %th Imported Records
            %th Duration
        %tbody
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 

      %h4 Running
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th School
            %th Uploaded
            %th Started
            %th Completed
            %th Term
            %th Import Type
            %th Method
            %th Status
            %th File name
            %th File Size
            %th Records
            %th Imported Records
            %th Duration
        %tbody
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 

      %h4 Completed
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th School
            %th Uploaded
            %th Started
            %th Completed
            %th Term
            %th Import Type
            %th Method
            %th Status
            %th File name
            %th File Size
            %th Records
            %th Imported Records
            %th Duration
        %tbody
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
          %tr
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 
            %td 