.container.main_content
  %h2
    Settings - School
  .container.bordered
    .navbar
      .navbar-inner
        %ul.nav
          %li
            = link_to 'Schools'
          %li
            = link_to 'Imports'
    .container-inner
