.container.main_content
  %h2
    New - Schools
  .container.bordered
    .navbar
      .navbar-inner
        %ul.nav
          %li
            = link_to 'Schools'
          %li
            = link_to 'Imports'
    .container-inner
      %form.navbar-search.pull-left
        %input.search-query{ :placeholder => "Search"}
      .schools.row-fluid
        .span6.school
          %h5 School Name
        .span6.school
          %h5 School Name
      .row-fluid
        .span6.school
          %h5 School Name
        .span6.school
          %h5 School Name
      .row-fluid
        .span6.school
          %h5 School Name
        .span6.school
          %h5 School Name
